run = "kotlinc -d main.jar main.kt && kotlin -classpath main.jar MainKt"

entrypoint = "main.kt"

hidden=["*.jar"]

[nix]
channel = "stable-24_05"

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.kotlin]
pattern = "**/*.{kt,kts,java}"

[languages.kotlin.languageServer]
start = ["kotlin-language-server"]

[workflows]
runButton = "Build and Run"

[[workflows.workflow]]
name = "Build and Run"
author = 44527700
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "DATABASE_POPULATOR_CONFIG=./config.conf ./gradlew run"
